/*============= HEADER PART ===================*/

/*-- navbar section--*/
#nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #212529;
}
#nav .navbar-toggler {
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
#nav .navbar-brand {
  color: #ffc800;
  font-weight: 700;
 
}
#nav .navbar-brand img {
  height: 25px;
  margin-left: 100px;
  margin-right: 350px;
}
#nav .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  color: #fff;
}
#nav .navbar-nav .nav-item .nav-link.active, #nav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
}
#nav .navbar-nav .nav-item .nav-link{
	font-size: 20px;
	letter-spacing: 1px;
	margin-left: 15px;
}
#nav .navbar-nav {
	margin-left: 200px;
}
#nav button{
	color: gray;
	border: 1px solid gray;
	width: 110px;
}
#nav button i{
	color: #gray;
	margin-left: 10px;
}
@media (max-width:780px){
	#nav .navbar-brand img {
  height: 25px;
  margin-left: 0px;
  margin-right: 0px;
	}
}

/*-- navbar section exit--*/

/*-- header section--*/
#header{
	padding-top: 10.5rem;
  	padding-bottom: 6rem;
  	text-align: center;
	background-image: url(images/header-bg.jpg);
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	height: 700px;
}
@media (max-width:780px){
	#header{
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	height: 100%;
	}
	#header h3{
		margin-top: -170px;
		width: 100%;
	}
	#header h1{
		width: 100%;
		font-size: 10%;
	}
}
#header .btn{
	background-color: #ffc800;
	width: 225px;
	height: 70px;
	color: #FFF;
	margin-top: 50px;
}
#header .btn p{
	font-size: 25px;
	font-weight: 700;
	padding-top: 8px;
	font-family: "Montserrat"

}
#header h1{
	font-size: 80px;
	padding-top: -30px;
	font-weight: 700;
	font-family: "Montserrat";
}
#header h3{
	font-size: 40px;
	padding-top: 60px;
	font-family: "Roboto Slab";
}
/*-- header section exit--*/

/*============= HEADER PART EXIT===================*/

/*================MAIN PART===========================*/

/*--services section*/
#Services{
	margin-bottom: 100px;
}
#Services h1{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 40px;
	margin-top: 30px;
}
#Services .service h1{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 25px;
}

#Services p{
	font-style: italic;
  	font-family: "Roboto Slab";
  	margin-top: 20px;
}
.ico{
	width: 130px;
	height: 130px;
	border-radius: 100px;
	background-color: #ffc800;
}
.ico i{
	color: #FFF;
	font-size: 60px;
	text-align: center;
	margin-top: -10px;
}

/*--Portfolio section--*/
#Portfolio h1{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 50px;
}
#Portfolio p{
	font-style: italic;
  	font-family: "Roboto Slab",
}
#Portfolio .card{
	border-radius: 0;
	border: none;
	background: initial;
}
#Portfolio .card-body{
	background-color: white;
}
#Portfolio .card-body h5{
	font-family: "Montserrat";
	font-weight: 700;
}
#Portfolio .card-body p{
	font-style: italic;
  	font-family: "Roboto Slab",
}
/*--Portfolio section exit--*/

/*--about section--*/

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

/*--about section exit--*/

/*--team section--*/
#Team h1{
	font-family: "Montserrat";
	font-weight: 700;
}
#Team h5{
	font-family: "Montserrat";
	font-weight: 700;
}
#Team p{
	font-style: italic;
  	font-family: "Roboto Slab",
}

#Team .card{
	border: none;
	border-radius: 0;
	background: initial;
}
#Team .card-img{
	width: 250px;
	height: 250px;
	border-radius: 250px;
	background-color: gray;
}
#Team .card-img img{
	border-radius: 200px;
	padding: 10px;
}
#Team i{
	font-size: 20px;
	color: white;
	margin-top: 15px;
}
#Team .ik{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	background-color: #000;
	margin: 10px;
}

/*--team section exit--*/

/*--contact section--*/
#tech .card {
	border: none;
	border-radius: 0;
}
#tech .card img{
	height: 50px;
}
#Contact{
	background-image: url(images/map-image.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	color: white;
}

#Contact h1{
	font-family: "Montserrat";
	font-weight: 700;
}
#Contact p{
	font-family: "Roboto Slab";
	font-style: italic;
}
#Contact .frm{
	display: inline-flex;
}
.frm input{
	height: 70px;
	width: 500px;
}
.frm textarea{
	height: 242px;
}
#Contact .btn{
	width: 200px;
	height: 70px;
	color: #FFF;
	font-family: "Roboto Slab";
	font-weight: 700;
}
#Contact .btn p{
	margin-top: 15px;
}
@media (max-width:780px){
	#Contact .frm{
	display: inline-grid;
	}
	.frm input{
	height: 40px;
	width: 100%;
	}
.frm textarea{
	height: 100%;
	}
}
/*--contact section exit--*/

/*============= MAIN PART EXIT===================*/
/*-- Footer--*/
footer{
	height: 50px;
}
footer i{
	font-size: 28px;
	color: white;
	margin-top: 12px;
}
footer .ig{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	background-color: #000;
	margin: 10px;
}
footer p{
	padding-top: 25px;
}

@media (max-width:780px){
	.crt p{
		margin: 10px;
	}
	#tech .card img{
	height: 60px;
	margin-top: 30px;
	}
	#tech {
		margin-top: -30px;
	}
}
