/*============= HEADER PART ===================*/

/*-- navbar section--*/
#nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #212529;
}
#nav .navbar-toggler {
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
#nav .navbar-brand {
  color: #ffc800;
  font-weight: 700;
 
}
#nav .navbar-brand img {
  height: 25px;
  margin-left: 100px;
  margin-right: 350px;
}
#nav .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  color: #fff;
}
#nav .navbar-nav .nav-item .nav-link.active, #nav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
}
#nav .navbar-nav .nav-item .nav-link{
	font-size: 20px;
	letter-spacing: 1px;
	margin-left: 15px;
}
#nav .navbar-nav {
	margin-left: 200px;
}
#nav button{
	color: gray;
	border: 1px solid gray;
	width: 110px;
}
#nav button i{
	color: #gray;
	margin-left: 10px;
}
@media (max-width:780px){
	#nav .navbar-brand img {
  height: 25px;
  margin-left: 0px;
  margin-right: 0px;
	}
}

/*-- navbar section exit--*/

/*-- header section--*/
#header{
	padding-top: 10.5rem;
  	padding-bottom: 6rem;
  	text-align: center;
	background-image: url(images/header-bg.jpg);
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	height: 700px;
}
@media (max-width:780px){
	#header{
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	height: 100%;
	}
	#header h3{
		margin-top: -170px;
		width: 100%;
	}
	#header h1{
		width: 100%;
		font-size: 10%;
	}
}
#header .btn{
	background-color: #ffc800;
	width: 225px;
	height: 70px;
	color: #FFF;
	margin-top: 50px;
}
#header .btn p{
	font-size: 25px;
	font-weight: 700;
	padding-top: 8px;
	font-family: "Montserrat"

}
#header h1{
	font-size: 80px;
	padding-top: -30px;
	font-weight: 700;
	font-family: "Montserrat";
}
#header h3{
	font-size: 40px;
	padding-top: 60px;
	font-family: "Roboto Slab";
}
/*-- header section exit--*/

/*============= HEADER PART EXIT===================*/

/*================MAIN PART===========================*/

/*--services section*/
#Services{
	margin-bottom: 100px;
}
#Services h1{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 40px;
	margin-top: 30px;
}
#Services .service h1{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 25px;
}

#Services p{
	font-style: italic;
  	font-family: "Roboto Slab";
  	margin-top: 20px;
}
.ico{
	width: 130px;
	height: 130px;
	border-radius: 100px;
	background-color: #ffc800;
}
.ico i{
	color: #FFF;
	font-size: 60px;
	text-align: center;
	margin-top: -10px;
}

/*--Portfolio section--*/
#Portfolio h1{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 50px;
}
#Portfolio p{
	font-style: italic;
  	font-family: "Roboto Slab",
}
#Portfolio .card{
	border-radius: 0;
	border: none;
	background: initial;
}
#Portfolio .card-body{
	background-color: white;
}
#Portfolio .card-body h5{
	font-family: "Montserrat";
	font-weight: 700;
}
#Portfolio .card-body p{
	font-style: italic;
  	font-family: "Roboto Slab",
}
/*--Portfolio section exit--*/

/*--about section--*/
/*--about section exit--*/

/*--team section--*/
#Team h1{
	font-family: "Montserrat";
	font-weight: 700;
}
#Team h5{
	font-family: "Montserrat";
	font-weight: 700;
}
#Team p{
	font-style: italic;
  	font-family: "Roboto Slab",
}

#Team .card{
	border: none;
	border-radius: 0;
	background: initial;
}
#Team .card-img{
	width: 250px;
	height: 250px;
	border-radius: 250px;
	background-color: gray;
}
#Team .card-img img{
	border-radius: 200px;
	padding: 10px;
}
#Team i{
	font-size: 20px;
	color: white;
	margin-top: 15px;
}
#Team .ik{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	background-color: #000;
	margin: 10px;
}

/*--team section exit--*/

/*--contact section--*/
#tech .card {
	border: none;
	border-radius: 0;
}
#tech .card img{
	height: 50px;
}
#Contact .form{
	background-image: url(images/map-image.png);
}
#Contact .frm{
	display: inline-flex;
}
.frm input{
	height: 70px;
	width: 500px;
}
.frm textarea{
	height: 242px;
}
/*--contact section exit--*/

/*============= MAIN PART EXIT===================*/